@charset "UTF-8";
body{
    overflow-x: hidden;
}

#wrap{}

.up{
    width: 100%;
    height: calc(400px + 150px + 250px);
    background-color: orange;
    display: flex;
}

.header{
    width: 200px;
    height: 100%;
    background-color: yellow;
}

.logo{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav{}

.main{
    padding-top: 30px;
    width: 150px;
    margin: 0 auto;
}

.main>li{
    position: relative;
}
.main>li>a{
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    /* border-bottom: 1px solid lime; */
    border-radius: 20px 0 0 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
}

.main>li:hover>a{
    background-color: rgba(0, 0, 0, 0.7);
}

.sub{
    position: absolute;
    width: 1920px;
    left: 150px;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 50;
}
.sub li{
    display: inline-block;
    padding-left: 30px;
}

.sub li a{
    width: 150px;
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
    padding-left: 20px;
}

.sub li a:hover{
    color: white;
    text-decoration: underline;
    background-color: rgba(0, 0, 0, 0.7);
    text-shadow: 1px 1px 5px orange,1px 1px 10px orange,1px 1px 15px red;
}

.contents{
    width: calc(100% - 200px);
    height: 100%;
    background-color: skyblue;
}

.img_slide{
    width: 100%;
    height: 400px;
    position: relative;
}

.fade{}

.fade li{
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
}

.fade li.f_1{
    background-image: url("../img/main1.jpg") ;
}
.fade li.f_2{
    background-image: url("../img/main2.jpg") ;
}
.fade li.f_3{
    background-image: url("../img/main3.jpg") ;
}

.fade li a{
    display: block;
    font-size: 5vw;
    font-weight: bold;
    color: white;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.link{
    width: 100%;
    height: 150px;
    border-bottom: 1px dotted gray;
}

.link_list{
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
}

.link_list li{}

.link_list li a{
    display: block;
    width: 100px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
    border: 1px solid black;
    text-indent: -9999px;
}

.link_list li span{
    display: block;
    text-align: center;
    margin-top: 5px;
}

.link_list li.l_list1 a{
    background-image: url("../img/link1.jpg");
}
.link_list li.l_list2 a{
    background-image: url("../img/link2.jpg");
}
.link_list li.l_list3 a{
    background-image: url("../img/link3.jpg");
}
.link_list li.l_list4 a{
    background-image: url("../img/link4.jpg");
}
.link_list li.l_list5 a{
    background-image: url("../img/link5.jpg");
}
.link_list li.l_list6 a{
    background-image: url("../img/link6.jpg");
}
.link_list li.l_list7 a{
    background-image: url("../img/link7.jpg");
}

.container{
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container>div{
    width: 45%;
}

.container h2{
    font-size: 16px;
    width: 100px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    background-color: pink;
    border-radius: 10px 10px 0 0;
}

.container ul{
    height: 190px;
    border-top: 5px solid pink;
}

.notice{}
.notice ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.notice ul li{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted #f4f4f4;
    padding: 5px 0;
}
.notice ul li a{
    width: 75%;

    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
}
.notice ul li span{}

.gallery{}
.gallery ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.gallery ul li{
    width: 20%;
    height: 150px;
}
.gallery ul li a{
    display: block;
    width: 100%;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    text-indent: -9999px;
    border-radius: 10px;
    border: 1px solid #f4f4f4;
}
.gallery ul li span{
    display: block;
    text-align: center;
    margin-top: 30px;
}

.gallery ul li.g_1 a{
    background-image: url("../img/gallery1.jpg");
}
.gallery ul li.g_2 a{
    background-image: url("../img/gallery2.jpg");
}
.gallery ul li.g_3 a{
    background-image: url("../img/gallery3.jpg");
}
.gallery ul li.g_4 a{
    background-image: url("../img/gallery4.jpg");
}

.down{
    width: 100%;
    height: 120px;
    background-color: lightgoldenrodyellow;
    display: flex;
    justify-content: space-between;
}

.f_logo{width: 200px; background-color: khaki;}

.f_middle{
    width: calc(100% - 450px);
}

.f_menu{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.f_menu a{
    padding: 0 10px;
    border-right: 1px solid gray;
}

.f_menu a:last-child{border: none;}

.f_menu a:hover{
    text-decoration: underline;
}

.copy{
    height: 50%;
    border-top: 1px dotted black;
    padding: 10px;
}

.family{
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.family select{
    width: 200px;
    height: 30px;
}